#home-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.footer-col-1 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(5% - (#{$spacing-unit} / 2));
  width:         calc(5% - (#{$spacing-unit} / 2));

}

.footer-col-3 {
  width: -webkit-calc(75% - (#{$spacing-unit} / 2));
  width:         calc(75% - (#{$spacing-unit} / 2));
}

.svg-icon-grayscale {
  filter: grayscale(100%);
  max-width: none;

}

.username {
  display: none;
}